{
  "log": {
    "_recordingName": "fetch-issues",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "5cf4c6a1dcd1312243b8f9e69b4ad53d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "organization",
              "value": "j1-test-organization"
            },
            {
              "name": "p",
              "value": "1"
            }
          ],
          "url": "https://sonarcloud.io/api/projects/search?organization=j1-test-organization&p=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 295,
            "text": "{\"paging\":{\"pageIndex\":1,\"pageSize\":100,\"total\":1},\"components\":[{\"organization\":\"j1-test-organization\",\"key\":\"j1-test-project\",\"name\":\"j1-test-project\",\"qualifier\":\"TRK\",\"visibility\":\"public\",\"lastAnalysisDate\":\"2022-08-04T11:04:55+0200\",\"revision\":\"361d8b1480a1d6bf8693f1c175e657a8ec05fa9e\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "sonar-version",
              "value": "9.8.0.203"
            },
            {
              "name": "x-sonar-server-time",
              "value": "1659604489173"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 167,
      },
      {
        "_id": "1f4d2e176f03f4277fca08d1cfea66a9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "projects",
              "value": "j1-test-project"
            },
            {
              "name": "p",
              "value": "1"
            }
          ],
          "url": "https://sonarcloud.io/api/issues/search?projects=j1-test-project&p=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1114,
            "text": "{\"total\":1,\"p\":1,\"ps\":100,\"paging\":{\"pageIndex\":1,\"pageSize\":100,\"total\":1},\"effortTotal\":10,\"debtTotal\":10,\"issues\":[{\"key\":\"AYJoGeVrseRHM538wSlk\",\"rule\":\"python:S905\",\"severity\":\"MAJOR\",\"component\":\"j1-test-project:index.py\",\"project\":\"j1-test-project\",\"line\":5,\"hash\":\"bb918d4dcdb6e76d8d26e09180a337a1\",\"textRange\":{\"startLine\":5,\"endLine\":5,\"startOffset\":0,\"endOffset\":17},\"flows\":[],\"status\":\"OPEN\",\"message\":\"Remove or refactor this statement; it has no side effects.\",\"effort\":\"10min\",\"debt\":\"10min\",\"author\":\"teemu@creativice.com\",\"tags\":[],\"creationDate\":\"2022-08-04T11:04:55+0200\",\"updateDate\":\"2022-08-04T11:04:55+0200\",\"type\":\"BUG\",\"organization\":\"j1-test-organization\"}],\"components\":[{\"organization\":\"j1-test-organization\",\"key\":\"j1-test-project:index.py\",\"uuid\":\"AYJoFylVrLHj1kmk2CHd\",\"enabled\":true,\"qualifier\":\"FIL\",\"name\":\"index.py\",\"longName\":\"index.py\",\"path\":\"index.py\"},{\"organization\":\"j1-test-organization\",\"key\":\"j1-test-project\",\"uuid\":\"AYBq7QLzcCWbRaaWIekb\",\"enabled\":true,\"qualifier\":\"TRK\",\"name\":\"j1-test-project\",\"longName\":\"j1-test-project\"}],\"organizations\":[{\"key\":\"j1-test-organization\",\"name\":\"j1-test-organization\"}],\"facets\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "sonar-version",
              "value": "9.8.0.203"
            },
            {
              "name": "x-sonar-server-time",
              "value": "1659604489301"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 126,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
