{
  "log": {
    "_recordingName": "build-group-user-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "0c7c764d8e829b1468b65bb184c8a6af",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "organization",
              "value": "j1-test-organization"
            },
            {
              "name": "p",
              "value": "1"
            }
          ],
          "url": "https://sonarcloud.io/api/user_groups/search?organization=j1-test-organization&p=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 275,
            "text": "{\"paging\":{\"pageIndex\":1,\"pageSize\":100,\"total\":2},\"groups\":[{\"id\":441813,\"name\":\"Members\",\"description\":\"All members of the organization\",\"membersCount\":1,\"default\":true},{\"id\":441812,\"name\":\"Owners\",\"description\":\"Owners of organization\",\"membersCount\":1,\"default\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "sonar-version",
              "value": "9.8.0.203"
            },
            {
              "name": "x-sonar-server-time",
              "value": "1659706804349"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 239,
      },
      {
        "_id": "b744c3c861faba02e09b4ef519468992",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "organization",
              "value": "j1-test-organization"
            },
            {
              "name": "p",
              "value": "1"
            }
          ],
          "url": "https://sonarcloud.io/api/organizations/search_members?organization=j1-test-organization&p=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 181,
            "text": "{\"paging\":{\"pageIndex\":1,\"pageSize\":50,\"total\":1},\"users\":[{\"login\":\"teemuj1@github\",\"name\":\"teemuj1\",\"avatar\":\"7cff1910b03334880b53ead6acdb8ea2\",\"groupCount\":2,\"isOrgAdmin\":true}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "sonar-version",
              "value": "9.8.0.203"
            },
            {
              "name": "x-sonar-server-time",
              "value": "1659706804594"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 232,
      },
      {
        "_id": "109695743a15db8aa072de09e525886a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "id",
              "value": "441813"
            },
            {
              "name": "p",
              "value": "1"
            }
          ],
          "url": "https://sonarcloud.io/api/user_groups/users?id=441813&p=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 95,
            "text": "{\"users\":[{\"login\":\"teemuj1@github\",\"name\":\"teemuj1\",\"selected\":true}],\"p\":1,\"ps\":25,\"total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "sonar-version",
              "value": "9.8.0.203"
            },
            {
              "name": "x-sonar-server-time",
              "value": "1659706804767"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 149,
      },
      {
       [...]
