{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "b744c3c861faba02e09b4ef519468992",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "organization",
              "value": "j1-test-organization"
            },
            {
              "name": "p",
              "value": "1"
            }
          ],
          "url": "https://sonarcloud.io/api/organizations/search_members?organization=j1-test-organization&p=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 181,
            "text": "{\"paging\":{\"pageIndex\":1,\"pageSize\":50,\"total\":1},\"users\":[{\"login\":\"teemuj1@github\",\"name\":\"teemuj1\",\"avatar\":\"7cff1910b03334880b53ead6acdb8ea2\",\"groupCount\":2,\"isOrgAdmin\":true}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "sonar-version",
              "value": "9.8.0.203"
            },
            {
              "name": "x-sonar-server-time",
              "value": "1659706832682"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 291,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
