{
  "log": {
    "_recordingName": "fetch-projects",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "5cf4c6a1dcd1312243b8f9e69b4ad53d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "organization",
              "value": "j1-test-organization"
            },
            {
              "name": "p",
              "value": "1"
            }
          ],
          "url": "https://sonarcloud.io/api/projects/search?organization=j1-test-organization&p=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 195,
            "text": "{\"paging\":{\"pageIndex\":1,\"pageSize\":100,\"total\":1},\"components\":[{\"organization\":\"j1-test-organization\",\"key\":\"j1-test-project\",\"name\":\"j1-test-project\",\"qualifier\":\"TRK\",\"visibility\":\"public\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "sonar-version",
              "value": "9.0.1.46107"
            },
            {
              "name": "x-sonar-server-time",
              "value": "1651496004664"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 158,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
