{
  "log": {
    "_recordingName": "client-secret-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "0844e897036dc6f40187584c50c26e1f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sonarcloud.io/api/authentication/validate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=ISO-8859-1",
            "size": 15,
            "text": "{\"valid\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=ISO-8859-1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
